* {
    color: rgba(0, 0, 0, 0.8);
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

a,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

body {
    margin: 0px auto;
}

#header,
#content {
    width: 700px;
    margin: 0px auto;
}

#header {
    padding: 20px 0 30px;
    height: auto;
}

#nav {
    width: 350px;
    float: right;
    margin: 30px 0px 16px 0px;
}

#nav a.selected {
    background-color: #F48024;
}

.activity .info .title {
    float: left;
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}

.activity .all-actions {
    padding: 15px 0 0px 0;
}
.event-container .event .head a,
.activity .all-actions a,
.activity .links a {
    color: #3060A8;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 0 10px 0px;

}

.events .new-event-box,
.activity .info .submit-box {
    width: 100%;
    float: left;
    padding: 30px 0px;
}

.events .new-event-box {
    width: 100%;
    float: left;
    padding: 10px 0px;
}

.events .new-event-box .new-event,
.activity .info .submit-box .submit {
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 1px 0 #ffffff inset;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 #ffffff inset;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 #ffffff inset;
    border-image: initial;
    padding: 15px 0;
}

.events .new-event-box .new-event {
    padding: 15px 7px;
}
.events .new-event-box .new-event input,
.events .new-event-box .new-event textarea,
.events .new-event-box .new-event select {
    margin: 0px 10px;
    font-size: 12px;
    padding: 5px 10px;
}

.events .new-event-box .new-event select,
.events .new-event-box .new-event input[type=datetime-local] {
    width: 180px;
    float: left;
}
.events .new-event-box .new-event select {
    width: 202px;
}

.events .new-event-box .new-event input,
.events .new-event-box .new-event textarea {
    width: 480px;
    float: right;
}

.events .new-event-box .new-event textarea {
    height: 80px;
    width: 482px;
    border-color: #E0DCBF;
}

.events .new-event-box .new-event .button {
    font-size: 13px;
    float: left;
    margin: 15px 10px 0;
}

.activity .info .submit-box .submit input {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 15px 0px 15px;
    width: 500px;
}

.activity .info .submit-box .submit .button {
    font-size: 13px;
    float: right;
    margin-right: 15px;
}

.activity .info .submit-box .submit .help {
    font-size: 14px;
    padding: 15px 15px 0px 15px;
}

.button {
    white-space: nowrap;
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
    display: inline-block;
    position: relative;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: all .1s ease-in;
}

.event-container .event .head a:hover,
.activity .info .links a:hover {
    text-decoration: underline;
}

.activity .info .links h4 {
    margin: 15px 0px 5px 0;
}

#nav a {
    background-color: gray;
    color: #FAFAFA;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 12px 3px;
    text-decoration: none;
}

.tags {
    line-height: 18px;
    float: left;
}

.tags .post-tag {
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    padding: .4em .5em;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}

.paginator {
    margin: 5px 0px;
    float: right;
    display: block;
    padding: 0;
    border: none;
    padding: 15px 0px 60px;
}

.paginator .page-number-separator {
    float: left;
    display: block;
    padding: 5px 12px;
    font-size: 11px;
    font-weight: bold;
    color: #AAA;
}

.paginator .page-number {
    border: 1px solid #E9E9E9;
    background: #E9E9E9;
    color: #273584;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover {
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number-selected {
    color: white;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover,
.paginator .page-number-selected {
    border: 1px solid #E0A831;
    background: #E0A831;
}

.paginator a:hover {
    text-decoration: none;
}

.post-text img {
    width: 100%;
}

.header h2 {
    font-size: 180%;
    text-align: center;
}

.explanation {
    padding-bottom: 25px;
    background: #e9f7fd;
    padding: 15px;
    border: 2px solid #dde9ef;
    margin: 0px 0 25px;
    text-align: left;
}

.post-menu {
    width: 100%;
    padding-top: 15px;
}

.post-menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.post-menu a,
.post-menu span {
    padding: 0 3px 2px 3px;
    color: #848d95;
    font-size: 11px;
}

.post-menu a,
.post-menu span {
    display: inline-block;
}

.post-menu a {
    text-decoration: none;
    cursor: pointer;
}

.post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}

.user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
    border-collapse: separate;
}

.gravatar-wrapper-32, .gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}

[class*="gravatar-wrapper-"] {
    padding: 0;
    overflow: hidden;
}

.user-info .user-gravatar32 img {
    border-radius: 1px;
}

.user-details {
    line-height: 17px;
    word-wrap: break-word;
}

.user-info .user-details {
    float: left;
    width: 100%;
}

.user-info .user-gravatar32+.user-details {
    margin-left: 8px;
    width: calc(100% - 40px);
}

.button {
    white-space: nowrap;
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
    display: inline-block;
    position: relative;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: all .1s ease-in;
}

.button:hover,
.button:focus {
    color: rgba(255,255,255,0.9);
    background-color: #07c;
    border-color: #005999;
    box-shadow: inset 0 1px 0 #3af;
    text-decoration: none;
    transition: all .1s ease-in-out;
    outline: none;
}

.welcome {
    text-align: center;
}

.welcome h2 {
    font-size: 200%;
    margin-top: 0px;
}

.welcome > a,
.welcome > a:hover {
    text-decoration: none;
}

.welcome table {
    text-align: center;
    margin: 0 auto;
}

.welcome table td img {
    height: 158px;
    weight: 158px;
}

.welcome .main-description,
.welcome .title {
    text-align: center;
    font-size: 22px;
}

.welcome .login-and-start {
    text-align: center;
}

.welcome .divider {
    width: 100%;
    text-align: center;
    padding: 8px 0 15px;
}

.welcome .divider div {
    width: 60px;
    border-bottom: 2px solid #e0e0e0;
    margin: 0 auto;
}

.welcome .login-and-start > a {
    font-size: 17px;
     line-height: 35px;
}
.welcome .login-and-start > a,
.welcome .login-and-start > a:hover {
    text-decoration: underline;
}

.welcome .login-and-start span {
    font-size: 10px;
}

.topbar {
    width: 100%;
    background:  #e4e6e8;
    height: 34px;
    line-height: 1;
}

.topbar .topbar-links {
    margin: 0 auto;
    width: 700px;
    font-size: 13px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
    text-align: right;
}

.topbar .topbar-links a {
    margin-left: 10px;
    display: inline-block;
    height: 24px;
    padding: 10px 7px 0 7px;
    vertical-align: top;
}

.topbar .topbar-links .profile {
    margin-top: -10px;
    margin-right: 0;
    height: 34px;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.topbar .topbar-links .profile>div {
    display: inline-block;
}

.gravatar-wrapper-24 {
    padding: 0;
    overflow: hidden;
}

.attendees .gravatar-wrapper-24 {
    width: 30px;
    float: left;
}

.topbar .topbar-links .profile .avatar {
    padding: 4px;
    height: 24px;
    width: 24px;
    margin-top: 1px;
    margin: 0 auto;
}

.activity .info .profile {
    float: left;
    margin-top: -10px;
    margin-right: 0;
    height: 34px;
    background-color: transparent;
    padding-right: 5px;
}

.action_list .action-content-container .action-content .author .profile .avatar,
.activity .info .profile .avatar {
    padding: 4px 4px 4px 0;
    height: 24px;
    width: 24px;
    margin-top: 1px;
}

.activity .info {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e4e6e8;
    padding: 0 0 25px 0;
}

.coordinators>div,
.activists>div {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

.topbar .topbar-links .links-container {
    vertical-align: top;
    padding-top: 10px;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    text-decoration: none;
}

.topbar .topbar-links .reputation {
    padding-right: 5px;
    color: rgba(12,13,14,0.86);
}

.topbar a,
.topbar a:hover,
.topbar a:focus {
    text-decoration: none;
    cursor: pointer;
}

#tabs {
    float: left;
}

#tabs a {
    position: relative;
    padding: 13px 10px;
    background-color: #FFF;
    border: 1px solid transparent;
    font-size: 12px;
    float: left;
    margin-right: 8px;
    color: #848d95;
    line-height: 1;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

#tabs a.active {
    padding-bottom: 14px;
    font-weight: 400;
    border-color: #e4e6e8;
    border-bottom-color: transparent;
    color: #242729;
}

.main-menu h3 {
    color: #242729;
    font-size: 18px;
    line-height: 0.22;
    float: left;
    margin-bottom: 0;
    font-weight: normal;
}

.main-menu {
    clear: both;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid #e4e6e8;
}

.action_list .action-head .sub-menu {
    width: 100%;
    float: left;
    margin: 15px 0px 6px 0px;
}

.action_list .action-head .sub-menu .list_switcher a {
    background-color: gray;
    color: #FAFAFA;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 12px 3px;
    text-decoration: none;
}

.action_list .action-head .sub-menu .list_switcher a.selected {
    background-color: #F48024;
}

.action_list .action-content-container {
    float: left;
    width: 100%;
}
.action_list .action-content-container .action-content .author{
    float: left;
    width: 30px;
    margin-top: -7px;
}
.action_list .action-content-container .action-content {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e4e6e8;
    margin: 5px 0 10px;
}
.action_list .action-content-container .action-content .link {
    float:left;
    width: 450px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
}
.action_list .action-content-container .action-content .actions {
    float: right;
}
.action_list .action-content-container .action-content .button {
    font-weight: 100;
    font-size: 12px;
    float: right;
    margin: -6px 0 3px 10px;
}
.event-container {
    float: left;
    width: 100%;
}
.event-container .event {
    float: left;
    margin: 10px 0;
    border: 1px solid #E0DCBF;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 1px 0 #ffffff inset;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 #ffffff inset;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 #ffffff inset;
    border-image: initial;
    padding: 15px 10px;
    text-align: left;
}
.event-container .meetup {
    background-color: #e9f7fd;
}
.event-container .event .head {
    float: left;
    width: 100%;
}
.event-container .event .head .coordinator {
    width: 30px;
    float: left;
    padding-right: 15px;
}
.event-container .event .head .title {
    width: 500px;
    float: left;
    font-size: 18px;
}
.event-container .event .second-line {
    width: 100%;
    float: left;
    font-size: 14px;
    margin-top: 5px;
}
.event-container .date-time {
    width: 200px;
    float: left;
}
.event-container .location {
    width: 300px;
    float: left;
    margin-right: 15px;
}

.event-container .event .attendees {
    border-top: 1px solid #E0DCBF;
    margin: 10px 0 0;
    padding: 7px 0;
    width: 100%;
    float:left;
}
.event-container .event .coordinated-by {
    float: left;
    width: 100%;
    margin: 5px 0 2px;
}
.event-container .event-header {
    border-bottom: 1px solid #E0DCBF;
    margin-bottom: 20px;
}
.event-container .event-header h1 {
    font-size: 22px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.event-container .coordinator .profile {
    float: left;
    width: 30px;
}
.event-container .coordinator {
    font-size: 14px;
}
.event-container .attendees {
    margin-bottom: 40px;
    font-size: 14px;
}
.event-container .apply {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.event-container .apply>div {
    margin: 0 auto;
}
.event-container .event-data {
    padding-top: 20px;
    font-size: 14px;
}
.event-container .cancel {
    background-color: gray;
    border-color: gray;
    box-shadow: inset 0 1px 0 gray;
}

.event-container .attendees .headline {
    font-size: 12px;
    color: gray;
    margin-bottom: 7px;
}
.apply .edit-event-link {
    margin-top: 20px;
}
.activist-container .grid-layout {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    box-sizing: border-box;
}
.grid-layout .activist-info {
    overflow: hidden;
    flex: 1 1 25%;
    min-width: 250px;
    width: auto;
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    color: #6a737c;
}
.grid-layout .activist-info .gravatar48 {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
    border-collapse: separate;
}
.grid-layout .activist-info .activist-details {
    margin-left: 9px;
    width: calc(100% - 64px);
    line-height: 1.3;
    float: left;
}
.grid-layout .activist-info .activist-details .acted,
.grid-layout .activist-info .activist-details .attended {
    font-size: 12px;
    margin-bottom: 2px;
    display: block;
}