{% extends "base.html" %}
{% block title %}
{{ gettext('Stack Overflow Association Tools') }}
{% endblock %}
{% block header %}
{% endblock %}
{% block js_ext %}
<script type="text/javascript" async="" src="/m/js/welcome.js"></script>
{% endblock %}
{% block content %}
<div class="welcome">
    <h2 id="welcome"></h2>
    <div id="lang-hint"></div>
    <table id="communities">
        <tr>
            <td>
                <a href="{{ url_for('start_oauth', language='pt') }}">
                    <img src="/m/img/sopt_logo_small.png">
                </a>
            </td>
            <td>
                <a href="{{ url_for('start_oauth', language='ru') }}">
                    <img src="/m/img/soru_logo_small.png">
                </a>
            </td>
            <td>
                <a href="{{ url_for('start_oauth', language='ja') }}">
                    <img src="/m/img/soja_logo_small.png">
                </a>
            </td>
            <td>
                <a href="{{ url_for('start_oauth', language='es') }}">
                    <img src="/m/img/soes_logo_small.png">
                </a>
            </td>
            <td>
                <a href="{{ url_for('start_oauth', language='en') }}">
                    <img src="/m/img/soen_logo_small.png">
                </a>
            </td>
        </tr>
    </table>
    <p>
        <div class="divider">
            <div></div>
        </div>
    </p>
    <div class="believes">
        <p>
            <div id="first-believe"></div>
        </p>
        <p>
            <div id="second-believe"></div>
        </p>
        <p>
            <div id="third-believe"></div>
        </p>

    </div>
    <p>
        <div class="divider">
            <div></div>
        </div>
    </p>
    <p class="login-and-start">
        <a href="{{ url_for('start_oauth') }}" id="join"></a></br>
    </p>
    <p class="why">
        <div class="title" id="together"></div>
    </p>
</div>
{% endblock %}